@import "../utilities/colores";
@media (max-width: 768px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vh;
        nav{
            display: flex;
            background-color: green;
            color: #fff;
            .container-fluid{
                display: flex;
                z-index: 1;
            }
            .buscador{
                input{
                    width: 76vh;
                }

            }
            .dropdown-divider{
                background-color: nth($colores, 8);
            }
            .navbar-collapse{
                flex-basis: 100%;
                flex-grow: 1;
                padding: 10px;
                background-color: black !important;
            }
        }
    }

    .acercade_main{
        background-color: red;
        width: 100vh;
        margin: 0;
        .introduccion{
            display: flex;
                p{
                    font-size: .9rem;
                }
            img{
                width: 500px;
                height: 62%;
            }
        }
    }

}